/* .App {
    box-sizing: border-box;
    display: flex;
}

.direction {
    border: 1px solid black;
    width: 40%;
}

.map {
    border: 1px solid black;
    width: 50%;
} */


h1 {
    font-weight: 400;
    font-size: 2.5rem;
    text-transform: capitalize;
    margin: 0;
}

h2 {
    font-weight: 400;
    font-size: 1.2rem;
    margin: 0;
}

main {
    margin: auto;
    display: flex;
}

main section {
    display: flex;
    flex-direction: column;
    background-color: #252424;
    color: #ffffff;
    height: 100vh;
    padding: 1rem;
    flex: 1;
}

main section input {
    height: 1.4rem;
    margin: 5px 0;
    font-size: 1rem;
    border-radius: 3px;
}

.btn {
    padding: 0.5rem 2rem;
    margin: 0.7rem 0 0;
    border-radius: 4px;
    border: 0;
    font-size: 1rem;
}

.btn:hover {
    cursor: pointer;
    background: rgb(111, 111, 202);
    color: #ffffff;
    border: 0;
    transition: all 0.2s ease-in-out;
}

main div {
    flex: 4;
}
