@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body {
  margin: 0;
  padding: 0;
  height: auto;
  background: #eee;
  font-family: 'Roboto Condensed', sans-serif;
  box-sizing: border-box;
}
